@{
    ViewData["Title"] = "Dojocooked";
}

<partial name="HomePartial"/>
<div class="row justify-content-center">
    <a asp-action="levelselector" asp-controller="Home"><button class="btn btn-secondary">Choose Level</button></a>
</div>