@{
    ViewData["Title"] = "Level Selector";
}

<partial name="HomePartial"/>
<div class="row justify-content-center">
    <a href="/game/1"><button class="btn btn-secondary level mr-4">1</button></a>
    <a href="/game/2"><button class="btn btn-secondary level mr-4">2</button></a>
    <a href="/game/3"><button class="btn btn-secondary level">3</button></a>
</div>
<div class="row justify-content-center mt-4">
    <a asp-action="index" asp-controller="Home"><button class="btn btn-secondary">Home</button></a>
</div>